## General 
.DS_Store

## Xcode

### User settings
xcuserdata/

## CocoaPods
Pods/

## Swift Package Manager
.build/

## Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

## Generated
generated